@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'),
    url('./assets/fonts/woff2/raleway-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/raleway-light-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
    url('./assets/fonts/woff2/raleway-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/raleway-regular-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('./assets/fonts/woff2/raleway-semibold-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/raleway-semibold-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/woff2/dosis-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/dosis-light-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Dosis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/woff2/dosis-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/dosis-regular-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Dosis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/woff2/dosis-semibold-webfont.woff2') format('woff2'),
    url('./assets/fonts/woff/dosis-semibold-webfont.woff') format('woff'),
    url('./assets/fonts/ttf/Dosis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
